
{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> This is my awesome blogs collection. I hope you love it and explore more about my blogs. I believe that more we read more we become export. So Never quite to reading!!!!</p>
        <a href="#" class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>
{% endblock sidebar %}